/* ui library styles/variables overwrite */

.arco-btn,
.arco-input-wrapper {
  /* 避免在切换主题的时候出现过渡时的闪烁 */
  transition: none !important;
}

.arco-btn:hover {
  transition: all 0.1s cubic-bezier(0, 0, 1, 1);
}

.arco-input-wrapper:hover {
  transition:
    color 0.1s cubic-bezier(0, 0, 1, 1),
    border-color 0.1s cubic-bezier(0, 0, 1, 1),
    background-color 0.1s cubic-bezier(0, 0, 1, 1);
}
