#nprogress {
  --color: var(--progress-bar, rgb(var(--primary-6)));
  pointer-events: none;
}

#nprogress .bar {
  background: var(--color);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

#nprogress .peg {
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  opacity: 1;
  box-shadow:
    0 0 10px var(--color),
    0 0 5px var(--color);
  transform: rotate(3deg) translate(0, -4px);
}

#nprogress .spinner {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1031;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: var(--color);
  border-left-color: var(--color);
  border-radius: 50%;
  animation: Spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  position: relative;
  overflow: hidden;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@keyframes Spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
