*, *::before, *::after {
  box-sizing: border-box;
  scrollbar-color: var(--scrollbar) var(--body-bg);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: var(--body-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}

html, body, #app {
  height: 100%
}

body, ul {
  margin: 0
}

body, .leading {
  line-height: 1.5715;
}

body {
  --color-1: #4997f0;
  --color-2: #8e9eec;
  --color-3: #ec8ebf;
  --color-4: #f74e63;
  --color-5: #f8b85c;
  --color-6: #6acab5;
  --color-7: #00c488;

  background-color: var(--body-bg);
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: overlay;
  color: var(--text-color);
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  appearance: none;
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
}

#app {
  isolation: isolate;
}

.list-none {
  list-style: none;
  padding: 0;
  margin: 0;
}
