*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--bc);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--sc);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--sh);
}

/*
--spacing-30: clamp(1.5rem, 5vw, 2rem);
--spacing-40: clamp(1.8rem, 1.8rem + ((1vw - 0.48rem) * 2.885), 3rem);
--spacing-50: clamp(2.5rem, 8vw, 4.5rem);
--spacing-60: clamp(3.75rem, 10vw, 7rem);
--spacing-70: clamp(5rem, 5.25rem + ((1vw - 0.48rem) * 9.096), 8rem);
--spacing-80: clamp(7rem, 14vw, 11rem);
*/

html {
  --c1: #4997f0;
  --c2: #8e9eec;
  --c3: #7f4eea;
  --c4: #ec8ebf;
  --c5: #f74e63;
  --c6: #f8b85c;
  --cp: #42b883;

  scroll-behavior: smooth;
  scroll-padding-top: 50px;
  background-color: var(--bc);
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--tc);
  overflow: overlay;
}

body,
ul {
  margin: 0
}

html,
body,
#app {
  height: 100%;
}

body,
.leading {
  line-height: 1.5715;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  background-color: #8080802f;
}

/* input, button {
  appearance: none;
} */

p,
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5 {
  width: fit-content;
  text-wrap: balance
}

input, button, code, kbd {
  font-family: inherit
}

a {
  text-decoration: none;
  color: inherit
}

a:hover {
  text-decoration: underline dashed;
  text-decoration-thickness: 1px;
  color: var(--cp)
}

/* 外部链接并且不是以 # 开头的链接加上图标 */
/* .external-link::after, */
/* a[target="_blank"]:not([href^="#"], [role="icon"], .no-icon) {
  content: '';
  display: inline-block;
  height: 1em;
  padding-right: 1em;
  vertical-align: -3.5px;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjEgMjEiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik0xOC41IDguNXYtNWgtNW01IDBsLTcgN20tMS03aC01YTIgMiAwIDAgMC0yIDJ2MTBhMiAyIDAgMCAwIDIgMmgxMWEyIDIgMCAwIDAgMi0ydi00Ii8+PC9zdmc+);
  background-size: .85em .85em;
} */

/* kbd {
  padding: 0.22rem .55rem;
  border: 2px solid #7d7d7d4d;
  border-radius: 4px;
  box-shadow: 0 -1.5px 0 0 #7d7d7d4d inset;
  font-size: .825rem;
  pointer-events: none;
} */

table {
  table-layout: fixed;
}

hr {
  margin: 30px 5%;
  border-width: 0;
  border-bottom: 1px dashed #9ca3af80;
}

ul {
  padding-left: 0;
  list-style: none;
}

#app {
  isolation: isolate;
}

.text-nowrap {
  display: inline-block;
  text-decoration: inherit;
  white-space: nowrap;
  text-indent: 0;
}

.font-tabular {
  font-variant: common-ligatures tabular-nums;
}

@supports (-webkit-tap-highlight-color: transparent) {
  a,
  button,
  [role="button"] {
    -webkit-tap-highlight-color: transparent;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    /* 裁剪掉图片加载失败时的边框 */
    clip-path: inset(0.6px)
  }
}
