*, *::before, *::after {
  box-sizing: border-box;
  scrollbar-color: var(--scrollbar, #ddd) var(--body-bg, #fff);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: var(--body-bg, #fff);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar, #ddd);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover, #bbb);
}

html, body, #app {
  height: 100%
}

body {
  margin: 0
}

body, .leading {
  line-height: 1.5715;
}

body {
  --color-1: #4997f0;
  --color-2: #8e9eec;
  --color-3: #ec8ebf;
  --color-4: #f74e63;
  --color-5: #f8b85c;
  --color-6: #6acab5;
  --color-7: #00c488;

  background-color: var(--body-bg, #fff);
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, sans-serif;
  color: var(--text-color, #242424);
  overflow: overlay;
}

img, picture, video, canvas {
  display: block;
  max-width: 100%;
  object-fit: cover;
  background-color: #808080;
}

svg {
  display: inline-block;
  max-width: 100%;
  width: 1em;
  height: 1em;
  vertical-align: -2px;
}

input, button, textarea, select, code {
  appearance: none;
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

table {
  table-layout: fixed;
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
}

code {
  /* 对齐数字的宽度, 保证 1 和 0 宽 */
  font-variant-numeric: tabular-nums;
}

#app {
  isolation: isolate;
}

.overflow-overlay {
  overflow: overlay;
}

.text-nowrap {
  display: inline-block;
  text-decoration: inherit;
  white-space: nowrap;
}

.list-none {
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;
}

/* 以 i- 开头的图标样式全部会应用这些属性 */
[class~="i-"] {
  display: 'inline-block';
  height: '1.2em';
  width: '1.2em';
  vertical-align: text-bottom
}
