html {
  --bc: #fff;
  --tc: #424242;
  --sc: #ddd;
  --sh: #bbb;
  --brc: rgba(188, 188, 188, .1);
}

html.dark {
  --bc: #121212;
  --tc: #f0eee9;
  --sc: #242424;
  --sh: #424242;
  --brc: rgba(250, 250, 250, .1);

  color-scheme: dark;
}
