@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    'Geist Mono', 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas',
    '"Liberation Mono"', '"Courier New"', 'monospace';
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  --font-mono--font-feature-settings: 'ss02', 'zero';
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);
  --color-primary-subtle: var(--primary-subtle);
  --color-primary-subtle-fg: var(--primary-subtle-fg);
  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);
  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);
  --color-success: var(--success);
  --color-success-fg: var(--success-fg);
  --color-success-subtle: var(--success-subtle);
  --color-success-subtle-fg: var(--success-subtle-fg);
  --color-danger: var(--danger);
  --color-danger-fg: var(--danger-fg);
  --color-danger-subtle: var(--danger-subtle);
  --color-danger-subtle-fg: var(--danger-subtle-fg);
  --color-warning: var(--warning);
  --color-warning-fg: var(--warning-fg);
  --color-warning-subtle: var(--warning-subtle);
  --color-warning-subtle-fg: var(--warning-subtle-fg);
  --color-info-subtle: var(--info-subtle);
  --color-info-subtle-fg: var(--info-subtle-fg);
  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);
  --color-overlay: var(--overlay);
  --color-overlay-fg: var(--overlay-fg);
  --color-navbar: var(--navbar);
  --color-navbar-fg: var(--navbar-fg);
  --color-sidebar: var(--sidebar);
  --color-sidebar-fg: var(--sidebar-fg);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-fg: var(--sidebar-primary-fg);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-fg: var(--sidebar-accent-fg);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-xs: var(--radius-xs);
  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);
  --radius-xl: var(--radius-xl);
  --radius-2xl: var(--radius-2xl);
  --radius-3xl: var(--radius-3xl);
  --radius-4xl: var(--radius-4xl);
  --animate-skeleton: skeleton 2s -1s infinite linear;
  --color-warning-foreground: var(--warning-foreground);
  --color-success-foreground: var(--success-foreground);
  --color-info-foreground: var(--info-foreground);
  --color-info: var(--info);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-muted-foreground: var(--muted-foreground);
  --color-foreground: var(--foreground);
  --color-destructive: var(--destructive);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-background: var(--background);
  --color-accent-foreground: var(--accent-foreground);
  @keyframes skeleton {
    to {
      background-position: -200% 0;
    }
  }
}

:root {
  --bg: oklch(1 0 0);
  --fg: oklch(0.21 0.006 285.885);
  --primary: var(--color-zinc-800);
  --primary-fg: oklch(1 0 0);
  --primary-subtle: oklch(0.623 0.214 259.815 / 0.15);
  --primary-subtle-fg: oklch(0.488 0.243 264.376);
  --secondary: --alpha(var(--color-black) / 4%);
  --secondary-fg: oklch(0.141 0.005 285.823);
  --overlay: oklch(1 0 0);
  --overlay-fg: oklch(0.141 0.005 285.823);
  --accent: --alpha(var(--color-black) / 4%);
  --accent-fg: oklch(0.141 0.005 285.823);
  --muted: --alpha(var(--color-black) / 4%);
  --muted-fg: oklch(0.552 0.016 285.938);
  --success: var(--color-emerald-500);
  --success-fg: oklch(1 0 0);
  --success-subtle: oklch(0.696 0.17 162.48 / 0.15);
  --success-subtle-fg: oklch(0.508 0.118 165.612);
  --info-subtle: oklch(0.685 0.169 237.323 / 0.15);
  --info-subtle-fg: oklch(0.5 0.134 242.749);
  --warning: var(--color-amber-500);
  --warning-fg: oklch(0.279 0.077 45.635);
  --warning-subtle: oklch(0.828 0.189 84.429 / 0.2);
  --warning-subtle-fg: oklch(0.555 0.163 48.998);
  --danger: oklch(0.577 0.245 27.325);
  --danger-fg: oklch(0.971 0.013 17.38);
  --danger-subtle: oklch(0.637 0.237 25.331 / 0.15);
  --danger-subtle-fg: oklch(0.505 0.213 27.518);
  --border: --alpha(var(--color-black) / 12%);
  --input: --alpha(var(--color-black) / 12%);
  --ring: var(--color-zinc-400);
  --navbar: oklch(0.995 0 0);
  --navbar-fg: oklch(0.141 0.005 285.823);
  --sidebar: oklch(0.985 0 0);
  --sidebar-fg: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.623 0.214 259.815 / 0.15);
  --sidebar-primary-fg: oklch(0.488 0.243 264.376);
  --sidebar-accent: oklch(0.92 0.004 286.32);
  --sidebar-accent-fg: oklch(0.141 0.005 285.823);
  --sidebar-border: oklch(0.901 0.006 286.286);
  --sidebar-ring: oklch(0.546 0.245 262.881);
  --chart-1: oklch(0.546 0.245 262.881);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.707 0.165 254.624);
  --chart-4: oklch(0.809 0.105 251.813);
  --chart-5: oklch(0.882 0.059 254.128);
  --radius-lg: 0.5rem;
  --radius-xs: calc(var(--radius-lg) * 0.25);
  --radius-sm: calc(var(--radius-lg) * 0.5);
  --radius-md: calc(var(--radius-lg) * 0.75);
  --radius-xl: calc(var(--radius-lg) * 1.5);
  --radius-2xl: calc(var(--radius-lg) * 2);
  --radius-3xl: calc(var(--radius-lg) * 3);
  --radius-4xl: calc(var(--radius-lg) * 4);
  --destructive-foreground: var(--color-red-700);
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-700);
  --success-foreground: var(--color-emerald-700);
  --warning-foreground: var(--color-amber-700);
  --accent-foreground: var(--color-zinc-800);
  --background: var(--color-white);
  --card: var(--color-white);
  --card-foreground: var(--color-zinc-800);
  --destructive: var(--color-red-500);
  --foreground: var(--color-zinc-800);
  --muted-foreground: color-mix(in srgb, var(--color-zinc-500) 90%, var(--color-black));
  --popover: var(--color-white);
  --popover-foreground: var(--color-zinc-800);
  --primary-foreground: var(--color-zinc-50);
  --secondary-foreground: var(--color-zinc-800);
}

.dark {
  --bg: oklch(0.181 0.005 285.823);
  --fg: oklch(0.985 0 0);
  --primary: var(--color-zinc-200);
  --primary-fg: oklch(1 0 0);
  --primary-subtle: oklch(0.623 0.214 259.815 / 0.1);
  --primary-subtle-fg: oklch(0.707 0.165 254.624);
  --secondary: --alpha(var(--color-white) / 6%);
  --secondary-fg: oklch(0.985 0 0);
  --overlay: oklch(0.21 0.006 285.885);
  --overlay-fg: oklch(0.985 0 0);
  --accent: --alpha(var(--color-white) / 6%);
  --accent-fg: oklch(0.985 0 0);
  --muted: --alpha(var(--color-white) / 6%);
  --muted-fg: oklch(0.705 0.015 286.067);
  --success: var(--color-emerald-500);
  --success-fg: oklch(1 0 0);
  --success-subtle: oklch(0.696 0.17 162.48 / 0.1);
  --success-subtle-fg: oklch(0.765 0.177 163.223);
  --info-subtle: oklch(0.685 0.169 237.323 / 0.1);
  --info-subtle-fg: oklch(0.828 0.111 230.318);
  --warning: var(--color-amber-500);
  --warning-fg: oklch(0.279 0.077 45.635);
  --warning-subtle: oklch(0.828 0.189 84.429 / 0.1);
  --warning-subtle-fg: oklch(0.828 0.189 84.429);
  --danger: oklch(0.577 0.245 27.325);
  --danger-fg: oklch(0.971 0.013 17.38);
  --danger-subtle: oklch(0.637 0.237 25.331 / 0.1);
  --danger-subtle-fg: oklch(0.704 0.191 22.216);
  --border: --alpha(var(--color-white) / 12%);
  --input: --alpha(var(--color-white) / 12%);
  --ring: var(--color-zinc-500);
  --navbar: oklch(0.19 0.006 285.885);
  --navbar-fg: oklch(0.985 0 0);
  --sidebar: oklch(0.18 0.006 285.885);
  --sidebar-fg: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.623 0.214 259.815 / 0.1);
  --sidebar-primary-fg: oklch(0.707 0.165 254.624);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-fg: oklch(0.985 0 0);
  --sidebar-border: oklch(0.274 0.006 286.033);
  --sidebar-ring: oklch(0.546 0.245 262.881);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.707 0.165 254.624);
  --chart-4: oklch(0.809 0.105 251.813);
  --chart-5: oklch(0.882 0.059 254.128);
  --destructive-foreground: var(--color-red-400);
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-400);
  --success-foreground: var(--color-emerald-400);
  --warning-foreground: var(--color-amber-400);
  --accent-foreground: var(--color-zinc-200);
  --background: color-mix(in srgb, var(--color-zinc-950) 98%, var(--color-white));
  --card: color-mix(in srgb, var(--background) 98%, var(--color-white));
  --card-foreground: var(--color-zinc-200);
  --destructive: var(--color-red-500);
  --foreground: var(--color-zinc-200);
  --muted-foreground: color-mix(in srgb, var(--color-zinc-500) 90%, var(--color-white));
  --popover: color-mix(in srgb, var(--background) 96%, var(--color-white));
  --popover-foreground: var(--color-zinc-200);
  --primary-foreground: var(--color-zinc-800);
  --secondary-foreground: var(--color-zinc-200);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    background-color: var(--bg);
    color: var(--fg);
  }
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 4px;
  }
}

@utility touch-target {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-height: 44px;
    min-width: 44px;
    z-index: 9999;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
