@import 'tailwindcss';
@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: Inter, Geist, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
