:root,
page {
  // 修改主题色, CSS 变量不能直接使用 SCSS 变量
  --wot-color-theme: #5400c8;
  --wot-message-box-padding: 12px 0;

  // 但普通CSS属性可以
  color: $uni-text-color;
}

// 针对某些组件的重置样式重置
page,
:root {
  .wd-message-box {
    .wd-message-box__block {
      padding: 12px;
    }
  }
}
